<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132674394794-httegu5rohvp9isvrrp3uj0b55s2obat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132674394794-httegu5rohvp9isvrrp3uj0b55s2obat</string>
	<key>API_KEY</key>
	<string>AIzaSyDAlQ4Dq4ZU0y4Ma-aZvCwYYt2g7Rr4ejw</string>
	<key>GCM_SENDER_ID</key>
	<string>132674394794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pedrocompany</string>
	<key>PROJECT_ID</key>
	<string>pomodoro-d36d2</string>
	<key>STORAGE_BUCKET</key>
	<string>pomodoro-d36d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132674394794:ios:84787544346409ebe68ed3</string>
</dict>
</plist>